page-home {

    // .container {
    //     position: absolute;
    //     height: 300px;
    //     width: 600px;
    //     top: 60px;
    //     left: calc(50% - 300px);
    //     display: flex;
    //   }

    //   #titlez {
    //     color: white;
    //     font-weight: 300;
    //     position: absolute;
    //     left: 20px;
    //     top: 15px;
    //   }



    #what {
    // background: green;
    padding: 0;
  }
  #logo {
    width: 80px;
    //   height: 250px;
    object-fit: cover;
  }
  
  #logoBG{
    background: url("../../assets/imgs/4IR logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 80px;
    height:160px;
  }
  .theBody {
    width: 100vw;
    height: 100%;
    // display: flex;
    .left {
      width: 100%;
      height: 100%;

      background-image:linear-gradient(to bottom, rgba(239, 239, 239, 0.612) ,rgba(193, 193, 193, 0.877)),url('../../assets/imgs/parl.jpg');
      background-size: cover;
      // filter:  sepia(1);
      position: relative;
      .box {
        display: flex;
        width: 60%;
        height: 80%;
        background: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 15px rgb(0, 0, 0);
        border-radius: 10px;
      }
    }
  }
  .logo-container {
    text-align: center;
  }
  .step1 {
    width: 25%;
    background: whitesmoke;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.103);
  }
  p {
    // border: 2px solid red;
    width: 100%;
    color: rgb(42, 42, 42);
  }
  .step2 {
    width: 75%;
    background: red;
    position: relative;
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
// #file{
//   color:green
// }
  .theInput {
    color: black;
    border: 1px solid black;
    margin: 10px auto;
    width: 100%;
  }
  //   .inputs {
  //     width: 90%;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     text-align: center;
  //   }
  .slide-custom {
    width: 100%;
    height: 100%;
    // background: grey;
    overflow: hidden;
    .dots{
      width: 30%;
      height: 14px;
      position: absolute;
      z-index: 999;
      border-radius: 20px;
      border: 2px solid white;
      left: 50%;
      padding: 0;
      bottom: 0;
      transform: translate(-50%,-5px);
      #theDot{
        width: 25%;
        height: 10px;
        border-radius: 20px;
        background: white;
        transition: 1s;
      }
    }
  }
  .theSlider {
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .slideShow {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    p {
      padding: 30px;
      font-size: 1em;
    }
    input {
      border: 1px solid rgba(0, 0, 0, 0.315);
    }
    //   border: 2px solid red;
    //   border: 2px solid white
  }
  .slideShow:nth-child(1) {
    width: 25%;
    background: white;
  }
  .slideShow:nth-child(2) {
    width: 25%;
    background: white;
  }
  .slideShow:nth-child(3) {
    width: 25%;
    background: white;
  }
  .slideShow:nth-child(4) {
    width: 25%;
    background: white;
  }
  #nxt {
    width: 70%;
    margin: 30px auto;
    border-radius: 50px;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: grey;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: grey;
  }

  #orgDesc {
    resize: none;
    width: 85%;
    height: 100px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    border-radius: 20px;
    padding: 10px;
  }
  #orgDesc1 {
    resize: none;
    width: 85%;
    height: 150px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    border-radius: 20px;
    padding: 10px;
  }
  input {
    margin-top: 20px;
    width: 85%;
    color:black
    //   margin: 0 auto;
   // background: whitesmoke;
  }

  .theButton {
    border-radius: 50px;
    position: absolute;
    right: 10%;
    bottom: 40px;
    width: 30%;
  }
  .theButtonBack {
    border-radius: 50px;
    position: absolute;
    left: 10%;
    bottom: 40px;
    width: 30%;
  }
  select, .customSelect {
    width: 85%;
    margin: 20px auto;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.144);
    padding-left: 10px;
  }
  #page2 {
    padding-top: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #page4 {
    padding-top: 5%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 85%;
    // max-width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .select-css option {
    font-weight: normal;
  }
  .description {
    font-weight: 400;
  }
  #page1 {
    margin-left: 0%;
    transition: 1s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #page3{
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #showContent{
    display: grid ;
    grid-template-columns: repeat(2 1fr)
  }
  /* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}



}
